<h2>Overview page</h2>

<h3 *ngIf="!bookmarks.length">
    No bookmarks, <a [routerLink]="['/submission']">Add one</a>
</h3>

<p>{{ bookmarks.length }}</p>

<ul *ngIf="bookmarks.length">
    @for (bookmark of items; let idx = $index; track idx;) {
    <li>
        <a [href]="bookmark.url">{{ bookmark.name }}</a>

        <button>Edit</button>
        <button (click)="handleDeleteBookmark(bookmark.name)">Delete</button>
    </li>
    }
</ul>

<button (click)="prevPage()">< prev</button>

<p>
    {{ pageLength }} pages <br />
    {{ currentPage !== 1 ? currentPage - 1 : '' }}
    <b>{{ currentPage }}</b>
    {{ currentPage !== pageLength ? currentPage + 1 : '' }}
</p>

<button (click)="nextPage()">next ></button>
